.fav {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.fav:hover {
  transform: rotate(360deg) translate( 0px, 0px);
  transition: 0.5s;
}

// for some reason, when favorite is being rotated, icon and font are moving. Therefore, this compensates child elements 
.fav:hover > .iconStyle {
  left: 7px;
}
.fav:hover > .fontStyle {
  bottom: 0px;
}

.favMenu {
  z-index: -1;
  width: 130px;
  height: 40px;
  float: left;
  position: absolute;
  transition: 0.5s;
  text-align: right;
}

.fontStyle {
  position: absolute;
  bottom: 5px;
}

.iconStyle {
  position: absolute;
  top: 10px;
  left: 25px;
}
