.sidebar {
    height: 100% !important;
    width: auto !important;
    touch-action: none;
    user-select: none;
}

.divsidebar {
    height: 100% !important;
}

.sidebarMenu {
    transition: 1s;
    // overflow-x: hidden !important;
}

// must have tag important to override any css that comes after this, by semantic ui
.myBoards {
    min-width: 218px !important;
}

.btnPlus {
    margin: 0px !important;
    padding: 0px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    transition: 0.5s;
}

.iconPlus {
    margin: 0px !important;
    padding: 0px !important;
}

.addBoard {
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
}

.addBoard:hover > .btnPlus {
    transition: 0.5s;    
    width: 100% !important;
    border-radius: 15% !important;    
} 