.quickBtnsContainer {
    position: fixed;
    width: 60px;
    left: 0;
    top: 0;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}

.rows {
    padding: 4px !important;
}

.btn {
    margin: 0px !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0px !important;
    display: inline-block;
}