.plusMenu {
  height: 40px;
  width: 40px !important;
  position: fixed;
  padding: 0px !important;
  margin: 0px;
}

.toolRow {
  height: 40px;
  max-width: 40px;
  border: 1px solid #000000;
  text-align: center;
  cursor: pointer;
}
.toolRow:hover {
  background-color: lightgrey;
}